<div class="charge-records">
	<!-- <ul class="header-options">
		<li class="active">全部</li>
		<li>今天</li>
		<li>本周</li>
		<li>本月</li>
	</ul> -->
	<table class="table">
		<thead>
			<tr>
				<th>充值时间</th>
				<th>支付方式</th>
				<th>金额（元）</th>
				<th>获得夺宝币（个）</th>
				<th>充值状态</th>
			</tr>
		</thead>
		<tbody class="cz-body">
			{% for item in records %}
			<tr>
				<td style="color:#888;">{{item.created_datetime}}</td>
				<td>{{item.pay_method}}</td>
				<td><strong>{{item.pay_count}}</strong></td>
				<td><strong>{{item.db_count}}</strong></td>
				<td style="color:green">{% if item.status %}成功{% else %}失败{% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>