{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends 'frontend-base.html' %}
{% block content %}
{% include "security/_messages.html" %}
<div class="container password-reset">
	<h3 style="font-size:18px;font-weight:bold">输入邮箱地址,将会收到一封重置密码的邮件,按照说明操作即可</h3>
	<form  action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
	  {{ forgot_password_form.hidden_tag() }}
	  {{ render_field_with_errors(forgot_password_form.email,class="form-control") }}
	  <p><input class="btn btn-primary pb-btn" id="submit" name="submit" type="submit" value="重置密码"></p>
	</form>
</div>
{% endblock %}
{% block second_header %}
{% endblock %}
{% block scripts %}
{% endblock %}