{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends 'frontend-base.html' %}
{% block content %}
{% include "security/_messages.html" %}
<h1>重置密码</h1>
<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
  {{ reset_password_form.hidden_tag() }}
  {{ render_field_with_errors(reset_password_form.password) }}
  {{ render_field_with_errors(reset_password_form.password_confirm) }}

  <!--p>
    <label for="password">密码</label> <input id="password" name="password" type="password" value=""> 
  </p>
  <p>
    <label for="password_confirm">再次输入密码</label> <input id="password_confirm" name="password_confirm" type="password" value="">  
  </p-->
  <p><input id="submit" name="submit" type="submit" value="submit"></p>
</form>
{% endblock %}
{% block second_header %}
{% endblock %}
{% block scripts %}
{% endblock %}